@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);
/* Specify in CSS */
code {
  font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
  code {
    font-family: 'Fira Code VF', monospace;
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Fira Code', monospace;
}

.background {
  background: url(/background3.jpg) no-repeat center center fixed;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0vw;
  top: 0vh;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  z-index: -1;
}

.background-placeholder {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0vw;
  top: 0vh;
  z-index: 1;
}

canvas {
  -webkit-filter: none;
          filter: none;
  overflow: auto;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-family: 'Fira Code', monospace;
}

.loading {
  padding: 0.5em;
  font-size: 2em;
  background-color: white;
  border: solid #87f1ff 0.5rem;
  font-family: 'Fira Code', monospace;
  color: black;
  text-align: center;
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate3d(0.3, 1, 0.6, 0deg);
            transform: rotate3d(0.3, 1, 0.6, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0.3, 1, 0.6, -360deg);
            transform: rotate3d(0.3, 1, 0.6, -360deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate3d(0.3, 1, 0.6, 0deg);
            transform: rotate3d(0.3, 1, 0.6, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0.3, 1, 0.6, -360deg);
            transform: rotate3d(0.3, 1, 0.6, -360deg);
  }
}

.spinner {
  color: white;
}

.controls {
  background: white;
  overflow-y: none;
}

.closeControls {
  border: 2px solid #87f1ff;
  padding: 5px 10px;
  font-weight: bolder;
  font-size: 1em;
}

.closeControls:hover {
  background: #87f1ff;
  color: white;
  cursor: cell;
}

.closeControls:focus {
  outline: none;
}

.playButton {
  font-size: 2em;
  background-color: #c0f5fa;
  /* Green */
  border: solid black 0.5rem;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.playButton:hover {
  border: solid #af125a 0.5rem;
}

.playButton:focus {
  outline: none;
}

.control-buttons {
  font-size: 1.5em;
  background-color: #c0f5fa;
  /* Green */
  border: solid #87f1ff 0.7rem;
  color: black;
}

.control-buttons:hover {
  border: solid #af125a 0.5rem;
}

.control-buttons:focus {
  outline: none;
}

.hide-buttons {
  display: none;
}

.title {
  font-size: 2.5em;
  background-color: #c0f5fa;
  /* Green */
  border: solid #87f1ff 0.7rem;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.transport {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
/*# sourceMappingURL=styles.css.map */